@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$bgColor: #363A45;
$bgSS: #79C942;


*, *::after, *::before {
    box-sizing: border-box;
}

html { 
    box-sizing: inherit;
    line-height: 100%;
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: $bgColor;
    overflow: hidden;
}

#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: $bgColor;
    .resume {
        opacity: 0;
        display: none;
        position: absolute;
        top: 300px;
        left: 5%;
        height: 50%;
        border: 2px solid #FFF;
        width: 90%;
        text-align: center;
        padding-top: 100px;
        color: #FFF;
    }
    .line {
        opacity: 0;
        position: absolute;
        top: 220px;
        left: 50%;
        width: 2px;
        height: 80px;
        background-color: #fff;
    }
    .intro{
        position: absolute;
        //top: 180px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: column;
        text-align: center;
        .avatar{
            position: relative;
            width: 200px;
            height: 200px;
            border: 5px solid #FFF;
            border-radius: 50%;
            background-image: url("https://s33.postimg.cc/4f6s9n1xb/avatar.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        .resume-enter{
            // opacity: 0;
            color: #FFF;
            font-size: 1.2em;
            margin: 30px 0;
            cursor: pointer;
            border: 1px solid #FFF;
            padding: 15px 0;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 3px;
            transition: background-color .3s ease-in;
            &:hover{ 
                background-color: rgba(255,255,255, 0.1);
            }
        }
    }
   
}


